@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .card-shadow {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: 0;
    }
}
